/* info section */

.info_section {
    position: relative;
    background-color: #2d2d2d;
    color: #ffffff;
    margin: 0 45px 45px;
}

.info_section .social_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.info_section .social_container .social_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
}

.info_section .social_container .social_box a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
}

.info_section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
}

.info_section .info_form form button {
    padding: 8px 35px;
    outline: none;
    border: none;
    color: #ffffff;
    background: #f89cab;
    margin-top: 15px;
    text-transform: uppercase;
}

.info_section .row>div {
    margin-top: 25px;
}

.info_section a {
    text-transform: none;
}

.info_section h6 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 25px;
}

.info_section p {
    color: #cbc9c9;
}

.info_section .info_link-box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0;
}

.info_section .info_link-box a:hover {
    color: #ffffff;
}

.info_section .info_link-box a i {
    color: #ffffff;
    margin-right: 5px;
    font-size: 18px;
}

.info_section .info_link-box a span {
    color: #cbc9c9;
}

.info_section .info_link-box a:hover span {
    color: #ffffff;
}


/* end info section */


/* footer section*/

.footer_section {
    margin-top: 45px;
    font-weight: 500;
}

.footer_section p {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    border-top: 1.5px solid #eeeeee;
    width: 80%;
}

.footer_section a {
    color: #cbc9c9;
}


/* end footer section*/