<div hl-sticky="">
    <h2 (click)="sidebarVisible = true" class="hamburg">&#9776;
    </h2>
</div>



<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section" style="position: relative;">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <div class="row">
                <p-sidebar [(visible)]="sidebarVisible">
                    <h3>Sidebar</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                </p-sidebar>



                <div class="col-xs-6 col-sm-5 navbar-brand">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    				<span class=""></span>
    				</button>
                    <a href="/">
                        <img src='https://wishwings.in/images/logo-main.png' width="40%" style="margin-left:100px;">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-7 navbar-brand" style="text-align:left; margin-top:30px;">
                    <input type="text" width="100%" class="searchbox" placeholder="Search ......" id='searchbox' #search (keyup.enter)="gotoSearch(search.value)">


                    <span id="login">
			
                        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle mr-3">
                            
                            <i *ngIf="!loggedin" class="fa fa-sign-in" aria-hidden="true" style="color:red;"></i>
                            <i *ngIf="loggedin" class="fa fa-user-circle" aria-hidden="true" style="color:green;"></i>
                           
                        </a>
                        <div class="dropdown-menu login-form">
                            <form #loginform="ngForm" (ngSubmit)="validate_login(loginform.value)" *ngIf="!loggedin">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" required="required" ngModel id="username" name="username">
                                </div>
                                <div class="form-group">
                                    <div class="clearfix">
                                    <label>Password</label>
                                    <a href="#" class="float-right text-muted"><small>Forgot?</small></a>
                                    </div>                            
                                    <input type="password" class="form-control" required="required" ngModel id="password" name="password">
                                </div>
                                
                                <div class="clearfix">
                                    <a href="register.php" class="text-muted"><small>Register Here</small></a>
                                    </div>  <br>
                                    <input type="submit" class="btn btn-primary btn-block" value="Login">
                            </form>	
                            <div *ngIf="loggedin">
                                <a href="cart.php" class="btn btn-success btn-block"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;My Cart</a>
                                <a href="" class="btn btn-success btn-block"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Profile</a>
                                <hr>
                                <button class="btn btn-danger btn-block" id="logout" (click)="logout();"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</button>
                            </div>
                        </div>			
                    
                    </span>

                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    <li class="nav-item" [class.active]="sharedataservice.sharedata==='home'">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item" [class.active]="sharedataservice.sharedata==='category'">
                        <a class="nav-link" id="menushow" style='cursor:pointer;' (click)="showsubmenu($event)">
                          Category
                        </a>
                        <div id="submenu" class="dropdown-content" [ngStyle]="submenu===true?{'display':'block'}:{'display':'none'}">
                            <div *ngFor="let c of category">
                                <a routerLink="category/{{c.id}}" (click)="showsubmenu($event)">{{c.name}}</a>
                            </div>
                        </div>
                    </li>





                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Occassion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Personalized
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Corporate/Bulk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Graphics</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
</div>