@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.button {
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    border-radius: 100px;
    font-family: inherit;
    appearance: none;
    background: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
    outline: none;
    opacity: 0.4;
    border: none;
    color: #000000;
  }
  
  .button:hover,
  .button.active {
    opacity: 1;
  }
.buttons{
    align-items: center;
    display: flex;
}
.activea{
    color:red;
    text-decoration:underline;
}


a {
    text-decoration: none;
}


@media only screen and (max-width: 600px){
    .product-card {
        width: 140px;
        position: relative;
        box-shadow: 0 2px 7px #dfdfdf;
        margin: 10px;
        background: #fafafa;
    }

    h4{
        font-size: 12px;
    }
   
    .product-details h4 a {
        font-weight: 500;
        display: block;
        margin-bottom: 18px;
        text-transform: uppercase;
        color: #363636;
        text-decoration: none;
        transition: 0.3s;
    }

    .product-details h4 a:hover {
        color: #fbb72c;
    }

    .product-details p {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 18px;
        color: #999;
    }

    .product-details {
        padding: 10px;
    }

    
    .product-bottom-details {
        overflow: hidden;
        border-top: 1px solid #eee;
        padding-top: 0px;
    }

    .product-bottom-details div {
        float: left;
        width: 50%;
    }

    .product-price {
        font-size: 18px;
        color: #fbb72c;
        font-weight: 600;
    }

    .product-price small {
        font-size: 80%;
        font-weight: 400;
        text-decoration: line-through;
        display: inline-block;
        margin-right: 5px;
    }
            
}

@media only screen and (min-width: 601px){
    .product-card {
        width: 380px;
        position: relative;
        box-shadow: 0 2px 7px #dfdfdf;
        margin: 50px auto;
        background: #fafafa;
    }

    .product-details h4 a {
        font-weight: 500;
        display: block;
        margin-bottom: 18px;
        text-transform: uppercase;
        color: #363636;
        text-decoration: none;
        transition: 0.3s;
    }

    .product-details h4 a:hover {
        color: #fbb72c;
    }
    
    .product-details p {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 18px;
        color: #999;
    }
    
    .product-details {
        padding: 30px;
    }

    
    .product-bottom-details {
        overflow: hidden;
        border-top: 1px solid #eee;
        padding-top: 20px;
    }

    .product-bottom-details div {
        float: left;
        width: 50%;
    }

    .product-price {
        font-size: 18px;
        color: #fbb72c;
        font-weight: 600;
    }

    .product-price small {
        font-size: 80%;
        font-weight: 400;
        text-decoration: line-through;
        display: inline-block;
        margin-right: 5px;
    }
    
}



.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 300px;
    padding: 50px;*/
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}


.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}


.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.container {
    text-align: center;
}

.hero_area {
    padding: 0 45px;
}

.hero_area.sub_pages {
    height: auto;
}

.shop_section .heading_container {
    margin-bottom: 20px;
}

.shop_section .box {
    background-color: #eeeeee;
    position: relative;
    padding: 10px;
    margin-top: 25px;
}

.shop_section .box a {
    color: #000000;
}

.shop_section .box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    height: 245px;
}

.shop_section .box .img-box img {
    max-width: 100%;
    max-height: 145px;
}

.shop_section .box .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.shop_section .box .detail-box h6 span {
    color: #db4f66;
}

.shop_section .box .new {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    font-size: 15px;
}

.shop_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.shop_section .btn-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #f16179;
    color: #ffffff;
    border: 1px solid #f16179;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.shop_section .btn-box a:hover {
    background-color: transparent;
    color: #f16179;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.heading_container h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.heading_container h2 span {
    color: #f89cab;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}


/*--------------------------------RESPONSIVE CSS------------------------------------*/

@media (max-width: 1120px) {
    .saving_section .detail-box {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .user_option {
        justify-content: center;
        margin-left: 0;
        margin-top: 10px;
    }
    .custom_nav-container {
        flex-direction: row;
    }
    .custom_nav-container .navbar-nav {
        align-items: center;
    }
    #navbarSupportedContent .navbar-nav .nav-link {
        margin: 5px 0;
    }
    .slider_section .detail-box {
        padding-left: 0;
    }
    .slider_section .detail-box h1 {
        font-size: 3rem;
    }
    .slider_section .img-box {
        padding: 0;
    }
    .saving_section .row {
        flex-direction: column-reverse;
    }
    .saving_section .detail-box {
        margin-bottom: 30px;
    }
    .client_section .box {
        margin: 15px 25px;
    }
    .client_section .carousel_btn-box {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }
    .client_section .carousel-control-prev,
    .client_section .carousel-control-next {
        position: unset;
        margin: 0 2.5px;
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .hero_area {
        padding: 0 25px;
    }
    .slider_section .img-box {
        margin-bottom: 45px;
    }
    .saving_section,
    .gift_section {
        padding-left: 25px;
        padding-right: 25px;
    }
    .gift_section .box {
        padding: 45px 0;
    }
    .gift_section .img-box {
        padding: 0 15px;
        margin-bottom: 45px;
    }
    .info_section .row>div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info_section {
        margin: 0 25px 25px;
    }
}

@media (max-width: 576px) {
    .contact_section {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 480px) {
    .saving_section .detail-box,
    .gift_section .detail-box {
        padding: 0 5px;
    }
}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}