<div class="hero_area">
    <section class="slider_section">
        <div class="slider_container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">


                    <div class="carousel-item" *ngFor="let s of slider; index as i" [class.active]="i===0">
                        <div class="container-fluid">
                            <div class="row">
                                <div>
                                    <a href='#/category/{{s.category}}'>
                                        <img src="https://www.wishwings.in/images/banner/{{s.name}}" width='100%' height="80%" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="carousel_btn-box">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <img src="https://wishwings.in/images/line.png" alt="" />
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>









<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Product Categories<br>
            </h2>
        </div>

        <div class="cont">
        <div class="row flex-row flex-nowrap">
            <div *ngFor="let c of category" class="item col-md-2">
                <a routerLink='/category/{{c.id}}'>
                    <img src="https://wishwings.in/images/category/{{c.image}}" alt="Mug" class="imgstyle"><br>
                    <span>{{c.name}}</span>
                </a>
            </div>
        </div>
        </div>


    </div>
</section>






<section class="saving_section ">
    <div>
        <div class="container-fluid">
            <div class="row">

                <div class="img-box">
                    <img src="https://wishwings.in/images/banner/Banner5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>






<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Why Shop With Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 8H20L23 12.0557V18H20.9646C20.7219 19.6961 19.2632 21 17.5 21C15.7368 21 14.2781 19.6961 14.0354 18H8.96456C8.72194 19.6961 7.26324 21 5.5 21C3.73676 21 2.27806 19.6961 2.03544 18H1V6C1 5.44772 1.44772 5 2 5H16C16.5523 5 17 5.44772 17 6V8ZM17 10V13H21V12.715L18.9917 10H17Z"></path></svg>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Free Shipping
                        </h5>
                        <p>
                            Ready to Deliver in 1 to 4 Days.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <svg class="svg-icon" viewBox="0 0 20 20">
							<path d="M14.999,8.543c0,0.229-0.188,0.417-0.416,0.417H5.417C5.187,8.959,5,8.772,5,8.543s0.188-0.417,0.417-0.417h9.167C14.812,8.126,14.999,8.314,14.999,8.543 M12.037,10.213H5.417C5.187,10.213,5,10.4,5,10.63c0,0.229,0.188,0.416,0.417,0.416h6.621c0.229,0,0.416-0.188,0.416-0.416C12.453,10.4,12.266,10.213,12.037,10.213 M14.583,6.046H5.417C5.187,6.046,5,6.233,5,6.463c0,0.229,0.188,0.417,0.417,0.417h9.167c0.229,0,0.416-0.188,0.416-0.417C14.999,6.233,14.812,6.046,14.583,6.046 M17.916,3.542v10c0,0.229-0.188,0.417-0.417,0.417H9.373l-2.829,2.796c-0.117,0.116-0.71,0.297-0.71-0.296v-2.5H2.5c-0.229,0-0.417-0.188-0.417-0.417v-10c0-0.229,0.188-0.417,0.417-0.417h15C17.729,3.126,17.916,3.313,17.916,3.542 M17.083,3.959H2.917v9.167H6.25c0.229,0,0.417,0.187,0.417,0.416v1.919l2.242-2.215c0.079-0.077,0.184-0.12,0.294-0.12h7.881V3.959z"></path>
						</svg>
                    </div>
                    <div class="detail-box">
                        <h5>
                            One to One Interaction
                        </h5>
                        <p>
                            Connect on Whatsapp.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 21.5C4.067 21.5 2.5 19.933 2.5 18C2.5 16.067 4.067 14.5 6 14.5C7.5852 14.5 8.92427 15.5538 9.35481 16.9991L15 16.9993V15L17 14.9993V9.24332L14.757 6.99932H9V8.99996H3V2.99996H9V4.99932H14.757L18 1.75732L22.2426 5.99996L19 9.24132V14.9993L21 15V21H15V18.9993L9.35499 19.0002C8.92464 20.4458 7.58543 21.5 6 21.5ZM6 16.5C5.17157 16.5 4.5 17.1715 4.5 18C4.5 18.8284 5.17157 19.5 6 19.5C6.82843 19.5 7.5 18.8284 7.5 18C7.5 17.1715 6.82843 16.5 6 16.5ZM19 17H17V19H19V17ZM18 4.58575L16.5858 5.99996L18 7.41418L19.4142 5.99996L18 4.58575ZM7 4.99996H5V6.99996H7V4.99996Z"></path></svg>
                    </div>
                    <div class="detail-box">
                        <h5>
                            Easy Process
                        </h5>
                        <p>
                            Order in few clicks.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<section class="gift_section layout_padding-bottom">
    <div class="box ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="https://wishwings.in/images/gifts.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                About Us <br><br>

                            </h2>
                        </div>
                        <p>
                            Founded with love and passion, our journey began with a simple yet powerful idea: to create thoughtful and heartwarming personalized gifts! At wishwings.in, we believe that every occasion deserves a touch of uniqueness and a dash of personalization. Our
                            mission is to bring joy to your special moments through a wide range of customizable gifts that ties you together.
                            <br><br> Thank you for choosing wishwings.in - where gifting meets personalization!
                        </p>
                        <div class="btn-box">
                            <a href="category.php?category=0" class="btn1">
                  Start Gifting!
                </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

















<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Customer Reviews
            </h2>
        </div>
    </div>
    <div class="container px-0">
        <div id="customCarousel2" class="carousel  carousel-fade" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Sayani Bhaumik
                                </h5>
                                <h6>
                                    Extremely happy and Satisfied.
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            Ordered customized fridge magnets, they are very beautiful and exactly what we needed.. Extremely happy and satisfied!
                        </p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Debanjan Nag
                                </h5>
                                <h6>
                                    On Time Delivery and Great Quality.
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            Very nice work and professional behaviour. Not just got my delivery delivery on time but it was prefectly packed and the material was just what I wanted. In all experience with Wish Wings is extremely good.
                        </p>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Debajit Saha
                                </h5>
                                <h6>
                                    Happy with the personalization.
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            I have received a personalized gift from Wishwing and I couldn't be happier with the result! The attention to detail was impeccable, and I recipient was truly touched by the thoughtfulness of the customization.  Not only was the product beautifully made, but the personalization truly added that special touch that made the gift unforgettable. I highly recommend Wishwing for anyone looking to give a meaningful and memorable gift to your loved one.
                        </p>
                    </div>
                </div>

                <div class="carousel-item active">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Rajnish Sen
                                </h5>
                                <h6>
                                    Classic Gift Items.
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            Gift is a true classic! The watch's design is elegant and sophisticated, making it suitable for any age. The recipient was thrilled with the thoughtfulness and the attention to detail in the packaging. It's a timeless piece that will be treasured for
                            years to come. Highly recommended!
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Abinash Mitra
                                </h5>
                                <h6>
                                    Great Design and Quick Delivery.
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            This gift is like a fairytale come to life! The enchanting design and twinkling lights create a magical ambiance that mesmerized everyone. The craftsmanship is exceptional, and the gift's uniqueness makes it stand out. It's a delightful addition to any
                            space, and I highly recommend it for adding a touch of wonder to any home.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="client_info">
                            <div class="client_name">
                                <h5>
                                    Subhasree Poddar
                                </h5>
                                <h6>
                                    Memorable Gift Items
                                </h6>
                            </div>
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <p>
                            "Meaningful and Memorable! This personalized gift exceeded all expectations! The customization options were diverse, allowing me to create a truly meaningful piece. The craftsmanship is excellent, and it arrived beautifully packaged. The recipient was
                            thrilled, and the joy on their face was priceless.
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-box">
                <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>














<section class="contact_section ">
    <div class="container px-0">
        <div class="heading_container heading_center">
            <h2 class="">
                Contact Us
            </h2>
        </div>
    </div>
    <div class="container container-bg">
        <div class="row">
            <div class="col-lg-7 col-md-6 px-0">
                <div class="map_container">
                    <div class="map-responsive">
                        <!--<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=22.647601,88.416853" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5719.104571557815!2d88.42581637047304!3d22.644220247678962!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89f8067692469%3A0x34e573c4271a9785!2sWish%20Wings!5e0!3m2!1sen!2sin!4v1690999674092!5m2!1sen!2sin"
                            width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 px-0">
                <form id="mailform" action="#">
                    <div>
                        <input type="text" placeholder="Name" id="name" />
                    </div>
                    <div>
                        <input type="email" placeholder="Email" id="email" />
                    </div>
                    <div>
                        <input type="text" placeholder="Phone" id="phone" />
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Message" id="msg" />
                    </div>
                    <div class="d-flex ">
                        <button id="msgsend">
                SEND
              </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>