<section class="shop_section h-100 h-custom">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                        <a href='orderhistory.php'> <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;<u>Order History</u></a>
                                        <h6 class="mb-0 text-muted">
                                            {{meta.count}}
                                        </h6>
                                    </div>
                                    <hr class="my-4">

                                    <div *ngFor="let c of cart">
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="{{c.productimage}}" class="img-fluid rounded-3" alt="">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted">{{c.categoryname}}</h6>
                                                <h6 class="text-black mb-0">{{c.productname}}</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <button class="btn btn-link px-2" id="rmv" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                      </button>

                                                <input id="form1" min="1" max="{{c.remainingquantity}}" name="quantity" value="1" type="number" style="width:60px;" class="form-control form-control-sm" />

                                                <button class="btn btn-link px-2" id="addcart" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                      </button>
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0">&#8377; {{c.productprice}}</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <button (click)="deleteitem(c.productid)" class="text-muted" id="del"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            </div>
                                        </div>

                                        <hr class="my-4 one 1">
                                    </div>





                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="../" class="text-body"><i				
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>


                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">

                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">items - {{meta.count}}</h5>
                                        <h5 id="total">&#8377; {{meta.total}}</h5>
                                    </div>


                                    <h5 class="text-uppercase mb-3">Give code</h5>

                                    <div class="mb-5">
                                        <div class="form-outline">
                                            <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>&#8377; {{meta.total}}</h5>
                                    </div>
                                    <div *ngIf="meta.count else noitem">
                                        <button type="button" class="btn btn-dark btn-block btn-lg" id="buynow" data-mdb-ripple-color="dark">Buy</button>
                                    </div>
                                    <ng-template #noitem>
                                        <button type="button" class="btn btn-dark btn-block btn-lg" id="buynow" data-mdb-ripple-color="dark" disabled>Buy</button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <br><br>
    </div>
</section>